html {
  height: 100%; }

body {
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  color: #4A4A4A;
  margin: 0;
  background-color: #F8F8F8;
  height: 100%;
  overflow-y: auto; }

.home-container {
  position: relative;
  width: 100%;
  background-color: white; }
  .home-container .home-content-container {
    width: 80%;
    margin: 0 auto;
    max-width: 800px; }

.banner {
  background-image: url(../img/ct-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%; }

.home-header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 55px;
  width: 100%;
  transition: background-color .2s;
  opacity: 0; }
  .home-header.fix-header {
    background-color: #5ACCCC;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 1; }
  .home-header .header-title {
    display: inline-block;
    padding-left: 50px;
    color: white;
    font-weight: 600;
    text-transform: uppercase; }
  .home-header .header-links {
    position: absolute;
    right: 50px;
    top: 0; }
    .home-header .header-links p {
      display: inline-block;
      padding: 0 25px;
      color: white; }

.title-container {
  padding: 100px 0; }
  .title-container .home-title {
    font-size: 3.5em;
    text-align: left;
    width: 70%;
    line-height: 97%;
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15); }
  .title-container .home-subtitle {
    width: 70%;
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15); }

.overview {
  width: 100%;
  padding: 30px 0 30px 0; }

.validation-container {
  width: 100%;
  padding-bottom: 40px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; }

.validation {
  width: 200px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 250px;
  vertical-align: top; }
  .validation .placeholder {
    background-color: #E0E0E0;
    height: 200px;
    width: 200px; }
  .validation p {
    text-align: center; }

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0; }

.example-container .example-list {
  list-style: none;
  padding-left: 0; }
  .example-container .example-list li {
    padding: 15px 0 15px 0;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-bottom: 10px; }
    .example-container .example-list li.inactive {
      opacity: 0.55; }
      .example-container .example-list li.inactive:hover {
        border: 1px solid #E0E0E0;
        background-color: white; }
    .example-container .example-list li:hover {
      border: 1px solid #02A8A8;
      background-color: #F0FFFF; }
  .example-container .example-list .example-item {
    display: inline-block; }
    .example-container .example-list .example-item.example-img {
      width: 100px;
      margin: 5px 0 0 15px; }
    .example-container .example-list .example-item.description {
      vertical-align: top;
      padding-left: 15px;
      width: calc(100% - 190px); }
      .example-container .example-list .example-item.description h3, .example-container .example-list .example-item.description p {
        margin: 0;
        color: #4A4A4A; }
    .example-container .example-list .example-item.arrow {
      width: 20px;
      vertical-align: top;
      margin-top: 40px;
      padding: 0 15px 0 15px; }

.how-to-container {
  padding-top: 20px; }

.how-to-list {
  list-style: none;
  padding: 15px 0 30px 0; }
  .how-to-list li {
    padding: 10px 0 10px 0; }
  .how-to-list .how-to-item {
    display: inline-block; }
    .how-to-list .how-to-item.description {
      vertical-align: top;
      padding-left: 20px;
      width: calc(100% - 125px); }
      .how-to-list .how-to-item.description h3, .how-to-list .how-to-item.description p {
        margin: 0; }
    .how-to-list .how-to-item.placeholder-3 {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #E0E0E0; }

.container {
  position: relative;
  width: 768px;
  margin-left: calc(50% - 424px);
  background-color: white;
  padding: 30px 40px; }
  .container .back-button {
    width: 50px;
    height: 23px;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
    position: fixed;
    margin-top: -15px; }
    .container .back-button:hover {
      background-color: #4A4A4A; }
    .container .back-button p {
      margin: 0;
      text-align: center;
      color: #4A4A4A; }
      .container .back-button p:hover {
        color: white; }
    .container .back-button.fix-contact {
      border: 1px solid white; }
      .container .back-button.fix-contact:hover {
        background-color: white; }
      .container .back-button.fix-contact p {
        color: white; }
        .container .back-button.fix-contact p:hover {
          color: #5ACCCC; }
  .container .content-container {
    width: 600px;
    margin-left: calc(50% - 300px); }

/* Font treatments (keep < 6)*/
h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0; }

h2 {
  font-size: 1em;
  text-align: left;
  font-weight: 600;
  margin-top: 28px; }

.subheader {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px; }

p {
  font-size: 1em; }

a {
  color: #02A8A8;
  text-decoration: none; }

/* contact info */
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 55px;
  width: 100%;
  transition: background-color .2s; }
  .header.fix-contact {
    background-color: #5ACCCC;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1); }

.contact-button-container {
  height: 55px;
  margin-bottom: 20px; }

.contact {
  transition: background-color .2s; }
  .contact.fix-contact {
    position: fixed;
    top: 5px;
    background-color: transparent;
    border: 1px solid white;
    height: 43px; }

/* Graphic Elements*/
.disease-container {
  border: 1px solid black;
  height: 400px;
  overflow: auto; }

.card-container {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  width: 600px;
  margin-left: calc(50% - 300px); }
  .card-container .disease-list {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .card-container .disease-list li {
      position: relative;
      border-bottom: 1px solid #E0E0E0; }
      .card-container .disease-list li .card-item {
        padding-top: 15px;
        padding-bottom: 15px;
        display: inline-block;
        width: 450px; }
        .card-container .disease-list li .card-item.item-carrier {
          width: 510px; }
        .card-container .disease-list li .card-item p, .card-container .disease-list li .card-item a {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 0;
          margin-top: 0; }
      .card-container .disease-list li .status-tag {
        display: inline-block;
        background: #E0E0E0;
        border-radius: 20px;
        height: 30px;
        margin-top: 20px;
        vertical-align: top; }
        .card-container .disease-list li .status-tag.tag-carrier {
          width: 70px; }
        .card-container .disease-list li .status-tag.tag-noncarrier {
          width: 120px; }
        .card-container .disease-list li .status-tag p {
          margin-top: 5px;
          text-align: center; }
      .card-container .disease-list li:last-child {
        border-bottom: 0; }
  .card-container .risk-container {
    display: inline-block;
    width: 255px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top; }
    .card-container .risk-container img {
      width: 180px;
      height: auto;
      margin-left: calc(50% - 90px); }
    .card-container .risk-container h2 {
      margin-bottom: 0;
      margin-top: 13px; }
    .card-container .risk-container p {
      margin-top: 0; }
      .card-container .risk-container p:first-of-type {
        height: 78px; }
  .card-container #divider {
    display: inline-block;
    height: 442px;
    border-left: 1px solid #E0E0E0; }

.bullet-list {
  padding-left: 18px; }

.button {
  border-radius: 5px;
  width: 250px;
  height: 45px;
  background-color: #02A8A8; }
  .button p {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-style: normal;
    margin: 0; }

.line {
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
  height: 15px; }
