html {
  height: 100%; }

body {
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  color: #4A4A4A;
  margin: 0;
  background-color: #F8F8F8;
  height: 100%;
  overflow-y: auto; }

.container {
  position: relative;
  width: 768px;
  margin-left: calc(50% - 424px);
  background-color: white;
  padding: 30px 40px; }
  .container .content-container {
    width: 600px;
    margin-left: calc(50% - 300px); }

/* Font treatments (keep < 6)*/
h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0; }

h2 {
  font-size: 1em;
  text-align: left;
  font-weight: 600;
  margin-top: 28px; }

.subheader {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px; }

p {
  font-size: 1em; }

a {
  color: #02A8A8;
  text-decoration: none; }

/* contact info */
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 55px;
  width: 100%;
  transition: background-color .2s; }
  .header.fix-contact {
    background-color: #5ACCCC; }

.contact-button-container {
  height: 55px;
  margin-bottom: 20px; }

.contact {
  transition: background-color .2s; }
  .contact.fix-contact {
    position: fixed;
    top: 5px;
    background-color: transparent;
    border: 1px solid white;
    height: 43px; }

/* Graphic Elements*/
.card-container {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  width: 600px;
  margin-left: calc(50% - 300px); }
  .card-container .disease-list {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .card-container .disease-list li {
      position: relative;
      border-bottom: 1px solid #E0E0E0; }
      .card-container .disease-list li .card-item {
        padding-top: 15px;
        padding-bottom: 15px; }
        .card-container .disease-list li .card-item p, .card-container .disease-list li .card-item a {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 0;
          margin-top: 0; }
      .card-container .disease-list li .unlikely-card-item {
        display: inline-block;
        width: 460px; }
      .card-container .disease-list li .unlikely-carrier {
        display: inline-block;
        background: #E0E0E0;
        border-radius: 20px;
        width: 120px;
        height: 30px;
        margin-top: 20px;
        vertical-align: top; }
        .card-container .disease-list li .unlikely-carrier p {
          margin-top: 5px;
          text-align: center; }
      .card-container .disease-list li:last-child {
        border-bottom: 0; }
  .card-container .risk-container {
    display: inline-block;
    width: 255px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top; }
    .card-container .risk-container img {
      width: 180px;
      height: auto;
      margin-left: calc(50% - 90px); }
    .card-container .risk-container h2 {
      margin-bottom: 0;
      margin-top: 13px; }
    .card-container .risk-container p {
      margin-top: 0; }
      .card-container .risk-container p:first-of-type {
        height: 78px; }
  .card-container #divider {
    display: inline-block;
    height: 442px;
    border-left: 1px solid #E0E0E0; }

.bullet-list {
  padding-left: 18px; }

.button {
  border-radius: 5px;
  width: 250px;
  height: 45px;
  background-color: #02A8A8; }
  .button p {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-style: normal;
    margin: 0; }

.line {
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
  height: 15px; }
