$primary-blue: #02A8A8;
$secondary-blue: #5ACCCC;
$bg-gray: #E0E0E0;
$nonblack: #4A4A4A;
$button-width: 250px;
$button-height: 45px;

html {
  height: 100%;
}
body {
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  color: $nonblack;
  margin: 0;
  background-color: #F8F8F8;
  height: 100%;
  overflow-y: auto;
}

/* Font treatments (keep < 6)*/

h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 28px;
}

h3 {
  font-size: 1em;
  font-weight: 600;
}
.subheader {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

p {
  font-size: 1em;
}

a {
  color: $primary-blue;
  text-decoration: none;
}

// Content

.home-container{
  position: relative;
  width: 100%;
  background-color: white;
  .home-content-container {
    width: 80%;
    margin: 0 auto;
    max-width: 850px;
  }
}

.header-links {
  position: absolute;
  right: 50px;
  top: 0;
  position: fixed;
  z-index: 20;
  p {
    display: inline-block;
    padding: 0 25px;
    color: white;
    font-weight: 600;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  }
}

.banner {
  background-image: url(../img/ct-banner.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size:cover;
  width: 100%;
  // height: 440px;
}

.home-header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 55px;
  width: 100%;
  transition: background-color .2s;
  opacity: 0;
  &.fix-header {
    background-color: $secondary-blue;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 1;
  }
  .header-title {
    display: inline-block;
    padding-left: 50px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.title-container {
  padding: 100px 0;
  .home-title {
    font-size: 3.5em;
    text-align: left;
    width: 70%;
    line-height: 97%;
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  }
  .home-subtitle {
    width: 70%;
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    margin-top: 0;
  }
}

.content-chunk {
  padding-bottom: 20px;
}

.overview {
  width: 100%;
  padding: 56px 0 30px 0;
}

.validation-container {
  width:100%;
  background-color: #C0F0F0;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  .validation {
    width: 80%;
    margin: 0 auto;
    max-width: 850px;
    .validation-item {
      width: 200px;
      display: inline-block;
      *display:inline;
      zoom: 1;
      height: 55px;
      vertical-align: top;
      p {
        text-align: center;
        padding: 0 10px;
        font-weight: 400;
        color: $nonblack;
      }
    }
  }
}


.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.example-container {
  .example-list {
    list-style: none;
    padding-left: 0;
    li {
      padding: 15px 0 15px 0;
      border: 1px solid $bg-gray;
      border-radius: 5px;
      margin-bottom: 10px;
      &.inactive {
        opacity: 0.55;
        &:hover {
          border: 1px solid $bg-gray;
          background-color: white;
        }
      }
      &:hover {
        border: 1px solid $primary-blue;
        background-color: #F0FFFF;
      }
    }
    .example-item {
      display: inline-block;
      &.example-img {
        width: 100px;
        margin: 5px 0 0 15px;
      }
      &.description {
        vertical-align: top;
        padding-left: 15px;
        width: calc(100% - 190px);
        h3, p {
          margin: 0;
          color: $nonblack;
        }
      }
      &.arrow {
        width: 20px;
        vertical-align: top;
        margin-top: 40px;
        padding: 0 15px 0 15px;
      }
    }
  }
}

.how-to-container {
  padding-top: 20px;
}

.how-to-list {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0 10px 0;
  }
  .how-to-item {
    display: inline-block;
    &.description {
      vertical-align: top;
      padding-left: 20px;
      width: calc(100% - 125px);
      h3, p {
        margin: 0;
      }
    }
    &.placeholder-3 {
      width:100px;
      height: 100px;
      border-radius: 50%;
      background-color: $bg-gray;
    }
  }
}

.button {
  display: inline-block;
  width: 46%;
  height: 55px;
  border: 1px solid $primary-blue;
  border-radius: 5px;
  text-align: center;
  &.second-button {
    margin-left: 5%;
  }
  &:hover {
    background-color: #F0FFFF;
  }
  p {
    margin-top: 15px;
    font-weight: 600;
  }
}

.sample-container {
  width:100%;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  .sample {

    max-width: 850px;
    .sample-item {
      display: inline-block;
      *display:inline;
      zoom: 1;
      vertical-align: top;
      img {
        width:150px;
        margin: 0 auto;
      }
      .sample-number {
        text-align: center;
        font-size: 3em;
        font-weight: 600;
        margin: -40px 0 0 0;
      }
      .sample-role {
        text-align: center;
        margin: -20px 0 0 0;
      }
    }
  }
}

.limitations {
  ul {
    padding-left: 20px;
  }
}

.about {
  .invo-img {
    display: inline-block;
    width: 46%;
    img {
      width: 100%;
    }
  }
  p {
    display: inline-block;
    width: 46%;
    margin: 0 0 0 5%;
    vertical-align: top;
  }
}

.license-container {
  margin-top: 20px;background-color: #F8F8F8;
  width: 100%;
  .license {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 900px;
  }

}
