$primary-blue: #02A8A8;
$secondary-blue: #5ACCCC;
$bg-gray: #E0E0E0;
$nonblack: #4A4A4A;
$button-width: 200px;
$button-height: 45px;

$tablet: 760px;
$mobile: 480px;

html {
  height: 100%;
}
body {
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  color: $nonblack;
  margin: 0;
  background-color: white;
  height: 100%;
  overflow-y: auto;
}


// Individual Report

.container {
  margin: 0 auto;
  background-color: white;
  padding: 30px 0;
  position: relative;
  .back-button {
    width: 50px;
    height: 23px;
    border: 1px solid $nonblack;
    border-radius: 5px;
    position: fixed;
    margin-top: -15px;
    z-index: 15;
    &:hover {
      background-color: $nonblack;
    }
    p {
      margin: 0;
      text-align: center;
      color: $nonblack;
      &:hover {
        color: white;
      }
    }
    &.fix-contact {
      border: 1px solid white;
      &:hover {
        background-color: white;
      }
      p {
        color: white;
        &:hover {
          color: $secondary-blue;
        }
      }
    }
  }
  .content-container {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    .content {
      border-top: 1px solid $bg-gray;
      width: 100%;
      padding: 20px 0 20px 0;
      &.noline {
        border-top: 0;
      }
      .content-item {
        width: 60%;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}

/* Font treatments (keep < 6)*/

h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 20px;
}

h2 {
  font-size: 1em;
  text-align: left;
  font-weight: 600;
  margin-top: 28px;
}
.subheader {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

p {
  font-size: 1em;
}

a {
  color: $primary-blue;
  text-decoration: none;
}


/* contact info */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 55px;
  width: 100%;
  transition: background-color .2s;
  z-index: 5;
  .header-title {
    opacity: 0;
  }
  &.fix-contact {
    background-color: $secondary-blue;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
    .header-title {
      text-align: center;
      color: white;
      opacity: 1;
    }
  }

}

.contact-button-container {
  height: 55px;
  margin-bottom: 20px;
  z-index: 15;
  width: 200px;
  position: absolute;
  right:0;
  display: inline-block;
}

.contact {
  transition: background-color .2s;
  display: inline-block;
  &.fix-contact {
    position: fixed !important;
    top: 5px;
    margin-top: 0;
    right: 5px;
    background-color: transparent;
    border: 0;
    height: 43px;
    z-index: 10;
    font-weight: 600;
    .hide {
      display: none;
    }
  }
}


/* Graphic Elements*/
.disease-container {
  border: 1px solid black;
  height: 400px;
  overflow: auto;
}
.card-container {
  border: 1px solid $bg-gray;
  border-radius: 5px;
  width: 100%;
}

.disease-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    position: relative;
    border-bottom: 1px solid $bg-gray;
    .card-item {
      padding-top: 15px;
      padding-bottom: 15px;
      display: inline-block;
      width: 73%;
      &.item-carrier {
        width: 80%;
      }
      p, a {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0;
        margin-top:0;
      }
    }
    .status-tag {
      display: inline-block;
      position: absolute;
      right: 20px;
      background: $bg-gray;
      border-radius: 20px;
      height: 30px;
      margin-top:17px;
      vertical-align: top;
      &.tag-carrier {
        width: 70px;
      }
      &.tag-noncarrier {
        width: 120px;
      }
      p {
        margin-top: 5px;
        text-align: center;
      }
    }
    &:last-child {
      border-bottom:0;
    }
  }
}

@media only screen and (max-width : 560px) {
  .disease-list {
    li {
      .card-item {
        width: 78%;
      }
      .status-tag {
        &.tag-noncarrier {
          width: 70px;
          height: 60px;
          border-radius: 5px;
        }
        &.item-carrier {
          width: 75%;
        }
      }
    }
  }
}


.risk-container {
  td {
    padding: 0 20px;
    width: 49%;
    vertical-align: top;
    margin: 0 auto;
    text-align: center;
    h2 {
      margin-bottom: 0;
      margin-top: 13px;
      text-align: left;
    }
    p {
      margin-top: 0;
      text-align: left;
    }
    &:nth-child(odd) {
      border-right: 1px solid $bg-gray;
    }
    .graph {
      width: 180px;
      height: auto;
      margin: auto;
    }
  }
}

@media only screen and (max-width : 560px) {
  .risk-container {
    td {
      padding: 0 8px;
      .graph {
        width: 100%;
      }
    }
  }
}


.bullet-list {
  padding-left: 18px;
}


.button {
  border-radius: 5px;
  width: $button-width;
  height: $button-height;
  background-color: $primary-blue;
  position: absolute;
  right:0;
  margin-top: 28px;
  display: inline-block;
  p {
    text-align: center;
    color:white;
    padding-top:10px;
    font-style: normal;
    margin: 0;
  }
}


.line {
  border-bottom: 1px solid $bg-gray;
  width: 100%;
  height: 15px;
}



@media only screen and (max-width : $mobile) {

  .container {
    .content-container {
      width: 90%;
    }
  }

}
